.page-footer {
  min-width: 320px;
  min-height: 243px;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  border: 1px solid blueviolet;
  box-sizing: border-box;
}

.page-footer__header {
  font-size: 21px;
  line-height: 26px;
  font-style: bold;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

.page-footer__social {
  display: flex;
  flex-direction: row;
  min-width: 320px;
  min-height: 243px;
  margin: 0 auto;
  margin-top: 0;
  padding: 0;
}

