.form-review-ok {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 20px;
  left: calc(~"50% - " 160px);
  width: 320px;
  min-height: 325px;
  margin: 0 auto;
  padding: 0;
  z-index: 120;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

@media (min-width: @tablet-width) {
  .form-review-ok {
    justify-content: flex-start;
    top: 80px;
    left: calc(~"50% - " 324px);
    width: 648px;
    min-height: 347px;
  }
}

.form-review-ok__title {
  display: block;
  width: 260px;
  margin: 43px 30px 3px 30px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .form-review-ok__title {
    display: block;
    width: 350px;
    margin: 57px 0 0 0;
    padding: 0;
    font-size: 30px;
    line-height: 36px;
  }
}

.form-review-ok__note {
  display: block;
  width: 240px;
  height: auto;
  margin: 23px 40px 0 40px;
  padding: 0 0 40px 0;
  flex-grow: 1;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .form-review-ok__note {
    width: 420px;
    margin: 26px 20px 0 20px;
    padding: 0;
    flex-grow: 0;
  }
}
