.form-review-ok {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 80px;
  left: 50%;
  min-width: 320px;
  min-height: 323px;
  margin: 0 auto;
  padding: 0;
  //outline: 1px solid green;
}

.form-review-ok__title {
  display: block;
  width: 260px;
  margin: 36px 30px 10px 30px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.form-review-ok__note {
  display: block;
  width: 280px;
  margin: 24px 20px;
  padding: 0;
  flex-grow: 1;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  /*border: 1px solid blueviolet;
  box-sizing: border-box;*/
}

.form-review-ok__button {
  width: 280px;
  height: 58px;
  //margin-left: 20px;
  margin-bottom: 20px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: white;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: 1px solid #81b3d2;
  box-sizing: border-box;
}
