.review {
  margin: 0;
  padding: 0;
  //outline: 1px solid blueviolet;
}

@media (min-width: @tablet-width) {
  .review {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 648px;
    margin: 0;
    padding: 0;
    outline: 1px solid blueviolet;
  }
}

@media (min-width: @desktop-width) {
  .review {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
    margin: 0;
    padding: 0;
    //outline: 1px solid blueviolet;
  }
}

.review__button {
  width: 280px;
  height: 58px;
  margin-left: 20px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-style: bold;
  color: white;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: 1px solid #81b3d2;
  box-sizing: border-box;
}

.review__send {
  width: 280px;
  height: 58px;
  margin-left: 20px;
  margin-top: 44px;
  margin-bottom: 37px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-style: bold;
  color: white;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: 1px solid #81b3d2;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .review__send {
    order: 6;
    width: 324px;
    height: 58px;
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
    font-style: bold;
    color: white;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: 1px solid #81b3d2;
    box-sizing: border-box;
  }
}

@media (min-width: @desktop-width) {
  .review__send {
    order: 6;
    width: 480px;
    height: 58px;
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
    font-style: bold;
    color: white;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: 1px solid #81b3d2;
    box-sizing: border-box;
  }
}

.review__notify {
  display: none;
}

@media (min-width: @tablet-width) {
  .review__notify {
    order: 7;
    display: block;
    width: 324px;
    height: 58px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    font-style: normal;
    color: #333333;
    text-transform: uppercase;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .review__notify {
    order: 7;
    display: block;
    width: 480px;
    height: 58px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    font-style: normal;
    color: #333333;
    text-transform: uppercase;
    text-align: right;
  }
}
