.video-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 267px;
  margin-top: 34px;
  margin-bottom: 39px;
  padding: 0;
  //outline: 1px solid blue;
}

@media (min-width: @tablet-width) {
  .video-player {
    width: 648px;
    height: auto;
    min-height: 500px;
    margin-top: 72px;
    margin-bottom: 40px;
    //outline: 1px solid blue;
  }
}

.video-player__picture {
  width: 320px;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .video-player__picture {
    width: 648px;
    margin: 0;
    padding: 0;
    //outline: 1px solid blue;
  }
}

@media (min-width: @tablet-width) {
  .video-player__picture {
    width: 648px;
  }
}

.video-player__driver {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 320px;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .video-player__driver {
    margin: 0;
    padding: 0;
    margin-top: -97px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 648px;
    height: 93px;
    //background-color: black;
    //opacity: 0.6;
    background-color: hsla(0, 0%, 0%, 0.6);
    outline: 1px solid red;
  }
}

.video-player__top-rectangle {
  position: relative;
  margin: -49px 20px 0 20px;
  padding: 0;
  width: 280px;
  height: 45px;
  background-color: hsla(0, 0%, 0%, 0.6);
}

@media (min-width: @tablet-width) {
  .video-player__top-rectangle {
    order: 2;
    margin: 0;
    padding: 0;
    width: 389px;
    height: 12px;
    background-color: transparent;
    outline: 1px solid red;
  }
}

.video-player__bottom-rectangle {
  width: 280px;
  height: 66px;
  margin: -4px 0 -46px 20px;
  background-color: #f2f2f2;
}

@media (min-width: @tablet-width) {
  .video-player__bottom-rectangle {
    display: none;
  }
}

.video-player__scale {
  position: absolute;
  left: 23px;
  top: 22px;
  width: 235px;
  height: 3px;
  opacity: 0.2;
  z-index: 35;
  background-color: white;
  //outline: 1px solid red;
}

@media (min-width: @tablet-width) {
  .video-player__scale {
    left: 0;
    top: 5px;
    width: 389px;
  }
}

.video-player__slider {
  position: absolute;
  left: 57px;
  top: 18px;
  width: 11px;
  height: 11px;
  z-index: 36;
  border-radius: 50%;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .video-player__slider {
    left: 205px;
    top: 0;
  }
}

.video-player__replay {
  margin-left: 39px;
  border: 0;
  background-color: transparent;
  //background-color: #f2f2f2;
  //outline: 1px solid red;

  svg {
    fill: #5c6870;
  }
}

.video-player__replay:hover {
  svg {
    fill: #333333;
  }
}

.video-player__replay:active {
  svg {
    fill: #b8b8b8;
  }
}

@media (min-width: @tablet-width) {
  .video-player__replay {
    order: 1;
    margin: 0;
    padding: 0;

    svg {
      fill: white;
    }
  }

  .video-player__replay:hover {
    svg {
      fill: #c2c2c2;
    }
  }

  .video-player__replay:active {
    svg {
      fill: #949494;
    }
  }
}

.video-player__subtitles {
  margin-left: 121px;
  border: 0;
  background-color: transparent;

  svg {
    margin-top: 2px;
    fill: #5c6870;
  }
}

.video-player__subtitles:hover {
  svg {
    fill: #333333;
  }
}

.video-player__subtitles:active {
  svg {
    fill: #b8b8b8;
  }
}

@media (min-width: @tablet-width) {
  .video-player__subtitles {
    order: 3;
    margin: 0;
    padding: 0;

    svg {
      fill: white;
    }
  }

  .video-player__subtitles:hover {
    svg {
      fill: #c2c2c2;
    }
  }

  .video-player__subtitles:active {
    svg {
      fill: #949494;
    }
  }
}

.video-player__fullscreen {
  margin-left: 19px;
  border: 0;
  background-color: transparent;

  svg {
    margin-top: 2px;
    fill: #5c6870;
  }
}

.video-player__fullscreen:hover {
  svg {
    fill: #333333;
  }
}

.video-player__fullscreen:active {
  svg {
    fill: #b8b8b8;
  }
}

@media (min-width: @tablet-width) {
  .video-player__fullscreen {
    order: 4;
    margin: 0;
    padding: 0;

    svg {
      fill: white;
    }
  }

  .video-player__fullscreen:hover {
    svg {
      fill: #c2c2c2;
    }
  }

  .video-player__fullscreen:active {
    svg {
      fill: #949494;
    }
  }
}
