.video-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  height: 267px;
  margin-top: 34px;
  margin-bottom: 38px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .video-player {
    width: 648px;
    height: auto;
    min-height: 500px;
    margin-top: 72px;
    margin-bottom: 40px;
    //outline: 1px solid blue;
  }
}

@media (min-width: @desktop-width) {
  .video-player {
    width: 800px;
    height: 500px;
    margin-top: 70px;
    margin-bottom: 85px;
  }
}

.video-player__picture {
  width: 320px;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .video-player__picture {
    width: 648px;
  }
}

@media (min-width: @desktop-width) {
  .video-player__picture {
    width: 800px;
  }
}

.video-player__top-rectangle {
  position: relative;
  margin: -49px 0 0 0;
  padding: 0;
  width: 280px;
  height: 45px;
  z-index: 34;
  background-color: black;
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .video-player__top-rectangle {
    margin: 0;
    margin-top: -96px;
    width: 648px;
    height: 93px;
    //outline: 1px solid red;
  }
}

@media (min-width: @desktop-width) {
  .video-player__top-rectangle {
    top: 407px;
    left: 0;
    width: 800px;
    height: 93px;
  }
}

.video-player__bottom-rectangle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  left: 20px;
  top: 201px;
  width: 280px;
  height: 66px;
  //background-color: #f2f2f2;

  button {
    border: 0;
  }
}

@media (min-width: @tablet-width) {
  .video-player__bottom-rectangle {
    margin: 0;
    padding: 0;
    width: 648px;
    height: 93px;
    margin-top: -93px;
    //outline: 1px solid red;
    //opacity: 1;
  }
}

.video-player__scale {
  position: absolute;
  left: 23px;
  top: 22px;
  width: 235px;
  height: 3px;
  opacity: 0.2;
  z-index: 35;
  background-color: white;
  //outline: 1px solid red;
}

@media (min-width: @tablet-width) {
  .video-player__scale {
    left: 93px;
    top: 45px;
    width: 389px;
  }
}

@media (min-width: @desktop-width) {
  .video-player__scale {
    left: 93px;
    top: 45px;
    width: 540px;
  }
}

.video-player__slider {
  position: absolute;
  left: 57px;
  top: 18px;
  width: 11px;
  height: 11px;
  z-index: 36;
  border-radius: 50%;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .video-player__slider {
    left: 205px;
    top: 41px;
  }
}

@media (min-width: @desktop-width) {
  .video-player__slider {
    left: 205px;
    top: 41px;
  }
}

.video-player__replay {
  margin-left: 19px;
  //background-color: #f2f2f2;

  svg {
    fill: #5c6870;
  }
}

.video-player__replay:hover {
  svg {
    fill: #333333;
  }
}

.video-player__replay:active {
  svg {
    fill: #b8b8b8;
  }
}

@media (min-width: @tablet-width) {
  .video-player__replay {
    margin-left: 30px;
    opacity: 1;
    //background-color: red;

    svg {
      fill: white;
    }
  }

  .video-player__replay:hover {
    svg {
      fill: #c2c2c2;
    }
  }

  .video-player__replay:active {
    svg {
      fill: #949494;
    }
  }
}

.video-player__subtitles {
  margin-left: 121px;
  background-color: #f2f2f2;

  svg {
    margin-top: 2px;
    fill: #5c6870;
  }
}

.video-player__subtitles:hover {
  svg {
    fill: #333333;
  }
}

.video-player__subtitles:active {
  svg {
    fill: #b8b8b8;
  }
}

@media (min-width: @tablet-width) {
  .video-player__subtitles {
    left: 524px;
    top: 444px;
    z-index: 38;
    fill: white;
  }

  .video-player__subtitles:hover {
    fill: #c2c2c2;
  }

  .video-player__subtitles:active {
    fill: #949494;
  }
}

@media (min-width: @desktop-width) {
  .video-player__subtitles {
    svg {
      fill: white;
    }
  }
}

.video-player__fullscreen {
  margin-left: 19px;
  background-color: #f2f2f2;

  svg {
    margin-top: 2px;
    fill: #5c6870;
  }
}

.video-player__fullscreen:hover {
  svg {
    fill: #333333;
  }
}

.video-player__fullscreen:active {
  svg {
    fill: #b8b8b8;
  }
}

@media (min-width: @tablet-width) {
  .video-player__fullscreen {
    svg {
      fill: white;
    }
  }

  .video-player__fullscreen:hover {
    svg {
      fill: #c2c2c2;
    }
  }

  .video-player__fullscreen:active {
    svg {
      fill: #949494;
    }
  }
}

@media (min-width: @desktop-width) {
  .video-player__fullscreen {
    svg {
      fill: white;
    }
  }
}
