.page-body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
}

@media (min-width: @desktop-width) {
  .page-body {
    width: 1200px;
    margin: 0 auto;
    box-shadow: -40px 0 0 0 #f2f2f2, 40px 0 0 0 #f2f2f2;
  }
}
