.main-nav {
  position: relative;
  top: 0;
  width: 100%;
  //min-width: 320px;
  //height: 56px;
  padding: 0;
  margin: 0;
  background-color: white;
  //outline: 1px solid blue;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    background-color: white;
    //outline: 1px solid blue;
  }
}

@media (min-width: @desktop-width) {

}

.main-nav__wrapper {
  background-color: #81b3d2;
}

.main-nav__button-close {
  position: absolute;
  right: 20px;
  top: 17px;
  fill: white;
  background-color: #81b3d2;
  border: 0;
  z-index: 110;
}

.main-nav__divider-top {
  min-width: 320px;
  height: 1px;
  background-color: #678fa8;
}

.main-nav__divider-button {
  min-width: 320px;
  height: 1px;
  background-color: #9ac2db;
}
