.collection-prorety {
  color: black;
  background-color: white;
}

.collection-prorety__title {
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
}

.collection-prorety__text {
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
}
