.collection-prorety {
  color: black;
  background-color: white;
}

@media (min-width: @tablet-width) {
  .collection-prorety {
    display: flex;
    flex-direction: row;
    width: @tablet-width;
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
  }
}

@media (min-width: @desktop-width) {
  .collection-prorety {
    display: flex;
    flex-direction: row;
    width: @desktop-width;
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    //background-color: white;
  }
}

.collection-prorety__item {
  width: 280px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .collection-prorety__item {
    width: 256px;
    height: 256px;
    margin: 0;
    padding: 0;
    //outline: 1px solid brown;
  }
}

@media (min-width: @desktop-width) {
  .collection-prorety__item {
    width: 400px;
    height: 256px;
    margin: 0;
    padding: 0;
  }
}

.collection-prorety__title {
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
}

.collection-prorety__text {
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
}
