.collection-prorety {
  margin: 20px 0 0 0;
  padding: 0 0 22px 0;
  color: black;
  background-color: white;
  //outline: 1px solid blue;
}

@media (min-width: @tablet-width) {
  .collection-prorety {
    display: flex;
    flex-direction: row;
    width: @tablet-width;
    //min-height: 330px;
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
  }
}

@media (min-width: @desktop-width) {
  .collection-prorety {
    display: flex;
    flex-direction: row;
    width: @desktop-width;
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    //background-color: white;
  }
}

.collection-prorety__item {
  width: 280px;
  list-style: none;
  margin: 0;
  padding: 0;
  //outline: 1px solid blue;
}

@media (min-width: @tablet-width) {
  .collection-prorety__item {
    display: block;
    width: 256px;
    min-height: 330px;
    margin: 0;
    padding: 0;
    //outline: 1px solid brown;
  }
}

@media (min-width: @desktop-width) {
  .collection-prorety__item {
    width: 400px;
    height: 256px;
    margin: 0;
    padding: 0;
  }
}

.collection-prorety__title {
  display: block;
  margin: 0;
  padding: 10px 20px 0 9px;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: #333333;
  text-transform: uppercase;
  //outline: 1px solid yellow;
}

@media (min-width: @tablet-width) {
  .collection-prorety__title {
    margin: 0;
    padding: 24px 20px 0 19px;
    font-size: 21px;
    color: black;
    //outline: 1px solid yellow;
  }
}

.collection-prorety__text {
  display: block;
  width: 210px;
  margin: 0;
  padding-left: 70px;
  padding-top: 7px;
  padding-bottom: 14px;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  color: black;
  //white-space: wrap;
  text-transform: uppercase;
  //outline: 1px solid brown;
}

@media (min-width: @tablet-width) {
  .collection-prorety__text {
    width: 160px;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 21px;
    //white-space: pre-wrap;
    //padding-bottom: 18px;
    text-align: center;
    color: #333333;
    //outline: 1px solid brown;
  }
}

@media (min-width: @desktop-width) {
  .collection-prorety__text {
    width: 287px;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 21px;
    //padding-bottom: px;
    text-align: center;
    color: #333333;
    //outline: 1px solid brown;
  }
}

.collection-prorety__title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  outline: 1px solid blue;
  //background-color: azure;
}

@media (min-width: @tablet-width) {
  .collection-prorety__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    //margin: 0 auto;
    //outline: 1px solid brown;
    //background-color: azure;
  }
}

.collection-prorety__title-image {
  display: block;
  width: 45px;
  height: 44px;
  left: 10px;
  margin-left: 16px;
  //margin-top: 20px;
  padding: 0;
  fill: #81b3d2;
  outline: 1px solid brown;
}

@media (min-width: @tablet-width) {
  .collection-prorety__title-image {
    display: block;
    width: 145px;
    height: 135px;
    //left: 10px;
    margin: 0 auto;
    //margin-left: 16px;
    //margin-top: 20px;
    padding: 0;
    fill: #81b3d2;
    //outline: 1px solid brown;
  }
}

.collection-prorety__icon-house {
  display: block;
  margin-left: 7px;
  margin-top: 1px;
  padding: 0;
  fill: #81b3d2;
}

@media (min-width: @tablet-width) {
  .collection-prorety__icon-house {
    width: 76px;
    height: 72px;
    margin-left: 35px;
    margin-top: 60px;
  }
}

.collection-prorety__icon-gift {
  display: block;
  margin-left: 10px;
  padding: 0;
  fill: #81b3d2;
}

@media (min-width: @tablet-width) {
  .collection-prorety__icon-gift {
    width: 64px;
    height: 76px;
    margin-left: 40px;
    margin-top: 56px;
  }
}

.collection-prorety__icon-burger {
  display: block;
  margin-left: 2px;
  margin-top: 5px;
  padding: 0;
  fill: #81b3d2;
}

@media (min-width: @tablet-width) {
  .collection-prorety__icon-burger {
    width: 76px;
    height: 68px;
    margin-left: 34px;
    margin-top: 63px;
  }
}

@media (min-width: @tablet-width) {
  .collection-prorety__oder2 {
    order: 2;
  }
}

@media (min-width: @tablet-width) {
  .collection-prorety__oder3 {
    order: 3;
  }
}

.collection-prorety__title-house {
  display: block;
  position: relative;
  margin: 0;
  padding: 12px 20px 9px 70px;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: #333333;
  text-transform: uppercase;
  //outline: 1px solid yellow;
}

.collection-prorety__title-house::before {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  width: 36px;
  height: 37px;
  background-size: 36px 37px;
  top: 4px;
  left: 22px;
}

@media (min-width: @tablet-width) {
  .collection-prorety__title-house {
    padding: 160px 0 0 0;
    font-size: 21px;
    text-align: center;
    color: black;
    //outline: 1px solid yellow;
  }

  .collection-prorety__title-house::before {
    width: 76px;
    height: 73px;
    background-size: 76px 73px;
    top: 60px;
    left: 89px;
  }
}

@media (min-width: @desktop-width) {
  .collection-prorety__title-house {
    padding: 159px 0 0 0;
    //outline: 1px solid yellow;
  }

  .collection-prorety__title-house::before {
    top: 58px;
    left: 159px;
  }
}

.collection-prorety__title-gift {
  display: block;
  position: relative;
  margin: 0;
  padding: 12px 20px 9px 70px;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: #333333;
  text-transform: uppercase;
  //outline: 1px solid yellow;
}

.collection-prorety__title-gift::before {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 38px;
  background-size: 36px 37px;
  top: 3px;
  left: 23px;
}

@media (min-width: @tablet-width) {
  .collection-prorety__title-gift {
    padding: 160px 0 0 0;
    font-size: 21px;
    text-align: center;
    color: black;
    //outline: 1px solid yellow;
  }

  .collection-prorety__title-gift::before {
    width: 64px;
    height: 76px;
    background-size: 64px 76px;
    top: 56px;
    left: 93px;
  }
}

@media (min-width: @desktop-width) {
  .collection-prorety__title-gift {
    padding: 159px 0 0 0;
    //outline: 1px solid yellow;
  }

  .collection-prorety__title-gift::before {
    top: 55px;
    left: 166px;
  }
}

.collection-prorety__title-burger {
  display: block;
  position: relative;
  margin: 0;
  padding: 12px 20px 9px 70px;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: #333333;
  text-transform: uppercase;
  //outline: 1px solid yellow;
}

.collection-prorety__title-burger::before {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 35px;
  background-size: 36px 37px;
  top: 7px;
  left: 20px;
}

@media (min-width: @tablet-width) {
  .collection-prorety__title-burger {
    padding: 160px 0 0 0;
    font-size: 21px;
    text-align: center;
    color: black;
    //outline: 1px solid yellow;
  }

  .collection-prorety__title-burger::before {
    width: 76px;
    height: 73px;
    background-size: 76px 73px;
    top: 60px;
    left: 89px;
  }
}

@media (min-width: @desktop-width) {
  .collection-prorety__title-burger {
    padding: 159px 0 0 0;
    //outline: 1px solid yellow;
  }

  .collection-prorety__title-burger::before {
    top: 60px;
    left: 162px;
  }
}
