.fullname {
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .fullname {
    position: relative;
    order: 2;
    margin: 0;
    padding: 0;
    padding-left: 57px;
  }
}

@media (min-width: @desktop-width) {
  .fullname {
    width: 400px;
    padding: 0 0 0 80px;
  }
}

.fullname ul {
  margin: 0;
  padding: 0;
}

.fullname__block {
  margin: 0;
  padding: 0;
}

.fullname__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  height: 56px;
  margin-left: 20px;
  margin-top: 22px;
  padding: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .fullname__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 266px;
    height: 56px;
    margin-left: 0;
    margin-top: 22px;
    padding: 0;
    list-style: none;
  }
}

@media (min-width: @desktop-width) {
  .fullname__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    height: 56px;
    margin-left: 0;
    margin-top: 22px;
    padding: 0;
    list-style: none;
  }
}

.fullname__container-label {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 58px;
  margin-right: 16px;
  padding: 0;
}

.fullname__label {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
}

.fullname__container-input {
  display: block;
  flex-grow: 1;
}

.fullname__field {
  width: 100%;
  height: 58px;
  //margin-right: 20px;
  //padding-left: 16px;
  margin: 0;
  padding: 0;
  font: inherit;
  //font-family: "PT Sans", "Calibri", sans-serif;
  //font-size: 18px;
  //line-height: 26px;
  //font-weight: bold;
  //text-transform: none;
  color: black;
  outline: none;
  background-color: #f2f2f2;
  //border: 5px solid #f2f2f2;
  border-width: 5px;
  border-style: solid;
  //border-color: #f2f2f2;
  box-sizing: border-box;
}

.fullname__field::placeholder {
  font: inherit;
  //font-family: "PT Sans", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  //text-transform: none;
}

.fullname__field:hover {
  background-color: #e5e5e5;
  //border: 5px solid #e5e5e5;
  border-color: #f2f2f2;
}

.fullname__field:focus,
.fullname__field:active {
  color: #000000;
  background-color: #ffffff;
  //border: 5px solid #e5e5e5;
  border-color: #f2f2f2;
}

.fullname__divider {
  width: 318px;
  height: 1px;
  margin-top: 0;
  padding: 0;
  background-color: #e5e5e5;
}

@media (min-width: @tablet-width) {
  .fullname__divider {
    display: block;
    position: absolute;
    left: 0;
    top: 22px;
    width: 1px;
    height: 293px;
    background-color: #e5e5e5;
  }
}

@media (min-width: @desktop-width) {
  .fullname__divider {
    display: block;
    position: absolute;
    left: 0;
    top: 22px;
    width: 1px;
    height: 293px;
    background-color: #e5e5e5;
  }
}

.fullname__title {
  display: block;
  margin-top: 1px;
  padding-top: 17px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .fullname__title {
    width: 267px;
    margin-bottom: 58px;
    padding-top: 17px;
    font-size: 21px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .fullname__title {
    width: 267px;
    margin-bottom: 58px;
    padding-top: 17px;
    font-size: 21px;
    text-align: left;
  }
}
