.header-image-nomain {
  display: flex;
  flex-direction: column;
  /* Не работает в IE11
  justify-content: flex-end; */
  align-items: center;
  margin-top: -28px;
  min-width: 320px;
  height: 158px;
  padding: 0;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #b6bec5;
  background-position: 50% bottom;
  //outline: 1px solid yellow;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 768px 389px;
  }
}

@media (min-width: @tablet-width) {
  .header-image-nomain {
    margin-top: 0;
    margin-left: 0 auto;
    min-width: auto;
    width: 768px;
    height: 290px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    //background-size: 768px 346px;
    background-color: #b6bec5;
    background-position: 50% bottom;
    //outline: 1px solid yellow;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 768px 512px;
    }
  }
}

@media (min-width: @desktop-width) {
  .header-image-nomain {
    //margin-top: -28px;
    width: 1200px;
    height: 301px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    //background-size: 1200px 512px;
    background-position-y: bottom;
    //outline: 1px solid yellow;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 1200px 512px;
    }
  }
}

.header-image-nomain__text {
  display: block;
  flex-grow: 1;
  width: 229px;
  height: 39px;
  margin-top: 33px;
  //margin-left: 1px;
  //padding-left: -3px;
  //outline: 1px solid yellow;
}

@media (min-width: @tablet-width) {
  .header-image-nomain__text {
    display: block;
    flex-grow: 1;
    width: 461px;
    height: 80px;
    //margin-right: 2px;
    margin-top: 41px;
    padding: 0;
  }
}

.header-image-nomain__triangle {
  display: block;
  width: 320px;
  height: 26px;
  margin-top: 20px;
  padding: 0;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  //outline: 1px solid green;
}

@media (min-width: @tablet-width) {
  .header-image-nomain__triangle {
    width: 768px;
    height: 57px;
    margin-top: 3px;
    background-image: url("../img/bg-intro-triangle-tablet.svg");
    //outline: 1px solid green;
  }
}

@media (min-width: @desktop-width) {
  .header-image-nomain__triangle {
    width: 1200px;
    height: 57px;
    margin-top: 0;
    background-image: url("../img/bg-intro-triangle-desktop.svg");
    //outline: 1px solid green;
  }
}
