.header-image-nomain {
  display: flex;
  flex-direction: column;
  /* Не работает в IE11
  justify-content: flex-end; */
  align-items: center;
  margin-top: -28px;
  min-width: 320px;
  height: 158px;
  padding: 0;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  //background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-color: white;
  background-position: 50% bottom;
  //outline: 1px solid yellow;
}

@media (min-width: @tablet-width) {
  .header-image-nomain {
    margin-top: 0;
    min-width: 768px;
    min-height: 290px;
    background-image: url("../img/back-desktop-nomain-768.jpg");
    background-repeat: no-repeat;
    background-size: 768px 346px;
    background-color: white;
    background-position-y: bottom;
    //outline: 1px solid yellow;
  }
}

@media (min-width: @desktop-width) {
  .header-image-nomain {
    //margin-top: -28px;
    min-width: 1200px;
    height: 301px;
    background-image: url("../img/back-desktop-nomain-1200.jpg");
    background-size: 1200px 357px;
    background-position-y: bottom;
    //outline: 1px solid yellow;
  }
}

.header-image-nomain__text {
  display: block;
  flex-grow: 1;
  width: 229px;
  height: 39px;
  margin-top: 35px;
  //margin-left: 1px;
  //padding-left: -3px;
  //outline: 1px solid yellow;
}

@media (min-width: @tablet-width) {
  .header-image-nomain__text {
    display: block;
    flex-grow: 1;
    width: 461px;
    height: 80px;
    //margin-right: 2px;
    margin-top: 41px;
    padding: 0;
  }
}

.header-image-nomain__triangle {
  display: block;
  width: 320px;
  height: 26px;
  margin-top: 20px;
  padding: 0;
  //outline: 1px solid green;
}

@media (min-width: @tablet-width) {
  .header-image-nomain__triangle {
    width: 768px;
    height: 57px;
    margin-top: 3px;
    //outline: 1px solid green;
  }
}

@media (min-width: @desktop-width) {
  .header-image-nomain__triangle {
    width: 1200px;
    height: 57px;
    margin-top: 0;
    //outline: 1px solid green;
  }
}

