.photo-collection {
  width: 320px;
  margin-top: 21px;
  padding: 0;
  //outline: 1px solid red;
}

@media (min-width: @tablet-width) {
  .photo-collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 648px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection {
    width: 1200px;
    margin-top: 5px;
    padding: 0;
  }
}

.photo-collection::after {
  content: "";
  display: block;
  min-width: 320px;
  height: 1px;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

@media (min-width: @tablet-width) {
  .photo-collection::after {
    display: none;
  }
}

.photo-collection__item {
  width: 320px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .photo-collection__item {
    position: relative;
    width: 324px;
    margin: 0;
    padding-bottom: 17px;
    list-style: none;
    background-color: #f2f2f2;
  }

  .photo-collection__item:nth-of-type(2n-1) {
    background-color: #eaeaea;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__item {
    width: 400px;
    height: 267px;
    margin-top: 0;
    padding: 0;
    list-style: none;
  }
}

.photo-collection__item::before {
  content: "";
  display: block;
  min-width: 320px;
  height: 1px;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

@media (min-width: @tablet-width) {
  .photo-collection__item::before {
    display: none;
  }
}

.photo-collection__item-big {
  width: 320px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .photo-collection__item-big {
    position: relative;
    width: 648px;
    margin-top: 66px;
    padding-bottom: 17px;
    background-color: #f2f2f2;
    //outline: 1px solid blue;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__item-big {
    width: 1200px;
    height: 400px;
    margin-top: 66px;
    padding: 0;
  }
}

.photo-collection__item-big::before {
  content: "";
  display: block;
  min-width: 320px;
  height: 1px;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

@media (min-width: @tablet-width) {
  .photo-collection__item-big::before {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__discription-big {
    display: block;
    position: absolute;
    width: 1200px;
    height: 80px;
    margin: 0;
    bottom: 0;
    left: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__discription-big .photo-collection__discription-opacity {
    display: block;
    position: absolute;
    width: 1200px;
    height: 80px;
    margin: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__discription {
    display: block;
    position: absolute;
    width: 400px;
    height: 80px;
    margin: 0;
    bottom: 0;
    left: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__discription-opacity {
    display: block;
    position: absolute;
    width: 400px;
    height: 80px;
    margin: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
  }
}



/*
.photo-collection__divider {
  min-width: 320px;
  height: 1px;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

*/

@media (min-width: @tablet-width) {
  .photo-collection__divider {
    display: none;
  }
}

.photo-collection__image {
  width: 280px;
  margin: 22px 20px 0 20px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .photo-collection__image {
    width: 324px;
    height: 267px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__image {
    width: 400px;
    height: 267px;
    margin: 0;
    padding: 0;
  }
}

.photo-collection__image-big {
  width: 280px;
  margin: 22px 20px 0 20px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .photo-collection__image-big {
    width: 648px;
    height: 400px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__image-big {
    width: 1200px;
    height: 400px;
    margin: 0;
    padding: 0;
  }
}

.photo-collection__title {
  display: block;
  margin: 11px 20px 0 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}

@media (min-width: @desktop-width) {
  .photo-collection__title {
    display: block;
    margin: 15px 20px 0 22px;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: white;
    z-index: 56;
    text-transform: uppercase;
  }
}

.photo-collection__author {
  display: block;
  margin: 0 20px 0 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
  text-transform: none;
}

@media (min-width: @desktop-width) {
  .photo-collection__author {
    display: block;
    margin: 0 20px 0 20px;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: white;
    text-transform: none;
    opacity: 1;
  }
}

.photo-collection__counter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 8px 20px 15px 20px;
}


@media (min-width: @tablet-width) {
  .photo-collection__counter {
    position: absolute;
    left: 239px;
    bottom: 28px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__counter {
    position: absolute;
    left: 314px;
    bottom: 28px;
    margin: 0;
  }
}

@media (min-width: @tablet-width) {
  .photo-collection__item-big .photo-collection__counter {
    position: absolute;
    left: 563px;
    bottom: 28px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__item-big .photo-collection__counter {
    position: absolute;
    left: 1114px;
    bottom: 28px;
    margin: 0;
  }
}

.photo-collection__button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;

  svg {
    fill: #a9a9a9;
  }
}

.photo-collection__button:active {
  svg {
    fill: black;
  }
}

@media (min-width: @tablet-width) {
  .photo-collection__button {
    margin-right: 11px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__button {
    margin-right: 11px;
    padding: 0;

    svg {
      fill: white;
    }
  }

  .photo-collection__button:active {
    svg {
      fill: #949494;
    }
  }
}

.photo-collection__indicator {
  display: block;
  margin: 0;
  padding: 1px 14px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: black;
  text-transform: none;
}

@media (min-width: @tablet-width) {
  .photo-collection__indicator {
    margin-left: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__indicator {
    margin-left: 0;
    padding: 0;
    color: white;
  }
}
