.photo-collection {
  width: 320px;
  margin-top: 21px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .photo-collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 648px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection {
    width: 1200px;
    margin-top: 5px;
    padding: 0;
  }
}

.photo-collection::after {
  content: "";
  display: block;
  min-width: 320px;
  height: 1px;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

@media (min-width: @tablet-width) {
  .photo-collection::after {
    display: none;
  }
}

.photo-collection__item {
  width: 320px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .photo-collection__item {
    display: flex;
    flex-direction: column;
    width: 324px;
    height: 347px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
  }

  .photo-collection__item:nth-of-type(2n-1) {
    background-color: #eaeaea;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__item {
    width: 400px;
    height: 267px;
    margin-top: 0;
    padding: 0;
    list-style: none;
  }
}

.photo-collection__item::before {
  content: "";
  display: block;
  min-width: 320px;
  height: 1px;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

@media (min-width: @tablet-width) {
  .photo-collection__item::before {
    display: none;
  }
}

.photo-collection__item-big {
  width: 320px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .photo-collection__item-big {
    display: flex;
    flex-direction: column;
    width: 648px;
    height: 480px;
    margin-top: 66px;
    padding: 0;
    background-color: #f2f2f2;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__item-big {
    width: 1200px;
    height: 400px;
    margin-top: 66px;
    padding: 0;
  }
}

.photo-collection__item-big::before {
  content: "";
  display: block;
  min-width: 320px;
  height: 1px;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

@media (min-width: @tablet-width) {
  .photo-collection__item-big::before {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .photo-collection__discription-big {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 648px;
    height: 80px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__discription-big {
    position: relative;
    width: 1200px;
    bottom: 0;
    margin-top: -85px;
    left: 0;
  }

  .photo-collection__discription-big::before {
    content: "";
    position: absolute;
    display: block;
    width: 1200px;
    height: 80px;
    margin: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 0;
  }
}

@media (min-width: @tablet-width) {
  .photo-collection__discription {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 324px;
    height: 80px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__discription {
    position: relative;
    width: 400px;
    margin-top: -84px;
    bottom: 0;
    left: 0;
  }

  .photo-collection__discription::before {
    content: "";
    position: absolute;
    display: block;
    width: 400px;
    height: 80px;
    margin: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 0;
  }
}

@media (min-width: @tablet-width) {
  .photo-collection__divider {
    display: none;
  }
}

.photo-collection__image {
  width: 280px;
  height: 280px;
  margin: 25px 20px 0 20px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .photo-collection__image {
    width: 324px;
    height: 267px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__image {
    width: 400px;
    height: 267px;
    margin: 0;
    padding: 0;
  }
}

.photo-collection__image-big {
  width: 280px;
  margin: 21px 20px 0 20px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .photo-collection__image-big {
    width: 648px;
    height: 400px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__image-big {
    width: 1200px;
    height: 400px;
    margin: 0;
    padding: 0;
  }
}

.photo-collection__title {
  display: block;
  margin: 11px 20px 0 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .photo-collection__title {
    width: 210px;
    margin-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__title {
    width: 290px;
    margin-top: 16px;
    color: white;
    z-index: 11;
  }
}

.photo-collection__author {
  display: block;
  margin: 0 20px 0 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
  text-transform: none;
}

@media (min-width: @tablet-width) {
  .photo-collection__author {
    width: 210px;
    margin-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__author {
    display: block;
    margin: 0 20px 0 20px;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: white;
    text-transform: none;
    opacity: 1;
    z-index: 10;
  }
}

.photo-collection__counter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 7px 20px 15px 19px;
}


@media (min-width: @tablet-width) {
  .photo-collection__counter {
    position: static;
    padding: 0;
    margin: 0;
    margin-right: 20px;
    margin-top: 24px;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__counter {
    position: absolute;
    left: 314px;
    bottom: 28px;
    margin: 0;
  }
}

@media (min-width: @tablet-width) {
  .photo-collection__item-big .photo-collection__counter {
    position: static;
    width: 80px;
    height: 25px;
    margin: 0;
    margin-left: 330px;
    margin-top: 25px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__item-big .photo-collection__counter {
    margin-left: 799px;
    margin-top: 29px;
    z-index: 10;
  }
}

.photo-collection__button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  width: 25px;

  svg {
    fill: #a9a9a9;
  }
}

.photo-collection__button:active {
  svg {
    fill: black;
  }
}

@media (min-width: @tablet-width) {
  .photo-collection__button {
    margin-right: 5px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__button {
    svg {
      fill: white;
    }
  }

  .photo-collection__button:active {
    svg {
      fill: #949494;
    }
  }
}

.photo-collection__indicator {
  display: block;
  margin: 0;
  padding: 0 12px 0 12px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: black;
  text-transform: none;
}

@media (min-width: @tablet-width) {
  .photo-collection__indicator {
    margin-left: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-collection__indicator {
    color: white;
    padding-left: 2px;
  }
}
