.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0 auto;
  margin-top: 0;
  padding: 0;
}

.social__item {
  margin: 3px;
}

.social__link {
  display: flex;
  min-width: 46px;
  min-height: 48px;
  fill: hsl(0, 0%, 100%);
  background-color: hsl(202, 47%, 66%);
}

.social__link:hover {
  background-color: hsl(203, 42%, 57%);
}

.social__link:active {
  background-color: hsl(202, 44%, 53%);
  fill: hsla(0, 0%, 100%, 0.3);
}

.social__link-icon {
  margin: auto;
}
