.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  //width: 400px;
  list-style: none;
  margin: 0 auto;
  margin-top: 0;
  padding: 0;
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 47px;
  background-color: #81b3d2;
  /*border: 1px solid #81b3d2;
  box-sizing: border-box;*/
}

.social__link {
  fill: red;
  /*border: 1px solid brown;
  box-sizing: border-box;*/
}

.social__link--twitter {
  height: 19px;
  width: 8px;
}

.social__link--facebook {
  background: no-repeat;
  height: 20px;
  width: 9px;
}

.social__link--youtube {
  height: 14px;
  width: 20px;
}
