.page-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 243px;
  padding: 0;
  //text-transform: uppercase;
  //outline: 1px solid red;
}

@media (min-width: @tablet-width) {
  .page-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: @tablet-width;
    min-height: 243px;
    padding: 0;
    //text-transform: uppercase;
    //outline: 1px solid blueviolet;
  }
}

@media (min-width: @desktop-width) {
  .page-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: @desktop-width;
    min-height: 243px;
    padding: 0;
    //text-transform: uppercase;
    //outline: 1px solid blueviolet;
  }
}

.page-photo__header {
  display: block;
  width: 260px;
  margin: 38px 30px 10px 30px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  //outline: 1px solid red;
}

@media (min-width: @tablet-width) {
  .page-photo__header {
    width: 450px;
    margin: 0;
    padding: 69px 30px 5px 30px;
    font-size: 30px;
    line-height: 36px;
    //outline: 1px solid red;
  }
}

@media (min-width: @desktop-width) {
  .page-photo__header {
    width: 450px;
    margin: 0;
    padding: 107px 30px 4px 30px;
    //outline: 1px solid red;
  }
}

.page-photo__note {
  display: block;
  width: 280px;
  margin: 16px 20px 6px 20px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  //outline: 1px solid yellowgreen;
}

@media (min-width: @tablet-width) {
  .page-photo__note {
    width: 435px;
    margin: 0;
    padding-top: 21px;
    font-size: 14px;
    line-height: 26px;
    //outline: 1px solid yellowgreen;
  }
}

@media (min-width: @desktop-width) {
  .page-photo__note {
    //outline: 1px solid yellowgreen;
  }
}

.page-photo__finish {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  //outline: 1px solid blueviolet;
}

.page-photo__finish-title {
  display: block;
  width: 260px;
  margin: 0;
  padding: 18px 30px 0 30px;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: black;
  text-transform: uppercase;
  text-align: center;
  //outline: 1px solid blueviolet;
}

@media (min-width: @tablet-width) {
  .page-photo__finish-title {
    width: 420px;
    margin: 0;
    padding-top: 66px;
    font-size: 30px;
    line-height: 26px;
    //outline: 1px solid blueviolet;
  }
}

@media (min-width: @desktop-width) {
  .page-photo__finish-title {
    display: block;
    padding-top: 71px;
  }
}

.page-photo__finish-note {
  display: block;
  width: 240px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  //outline: 1px solid red;
}

@media (min-width: @tablet-width) {
  .page-photo__finish-note {
    padding-top: 32px;
    padding-bottom: 0;
    margin: 0 auto;
    width: 440px;
    //outline: 1px solid red;
  }
}

@media (min-width: @desktop-width) {
  .page-photo__finish-note {
    padding-top: 31px;
    padding-bottom: 0;
    margin: 0 auto;
    width: 420px;
    //outline: 1px solid red;
  }
}
