.page-header {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
}

.page-header__menu-panel {
  min-width: 320px;
  height: 56px;
  /*border: 1px solid green;
  box-sizing: border-box;*/
}

.page-header__button-open {
  position: absolute;
  left: 277px;
  top: 17px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: white;
  fill: #81b3d2;
}

.page-header__logo {
  position: absolute;
  z-index: 100;
  display: block;
  top: 0;
  left: 109px;
  /*border: 1px solid green;
  box-sizing: border-box;*/
}

.site-list {
  margin: 0;
  padding: 0;
}

.site-list__item {
  display: block;
  min-height: 55px;
  text-align: center;
  padding-top: 7px;
  //padding-bottom: 0px;
  //border-bottom: 1px solid #678fa8;
  border: 1px solid #81b3d2;
  //box-sizing: border-box;
}
