.page-main {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.page-main__header {
  font-style: bold;
  color: black;
}
.page-main__note {
  font-style: normal;
  color: black;
}
.advantages-list__item {
  color: black;
  background-color: white;
}
.advantages-list__item--big {
  color: white;
  background-color: #81b3d2;
}
.advantages-list__header {
  font-style: bold;
}
/* Стиль как у номера */
.advantages-list__note {
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
}
.collection-prorety {
  color: black;
  background-color: white;
}
.collection-prorety__title {
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
}
.collection-prorety__text {
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
}
.page-finish__title {
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
}
.page-finish__note {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}
.page-finish__reference {
  display: block;
  width: 280px;
  padding: 17px 0 17px 0;
  font-size: 21px;
  line-height: 26px;
  font-style: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #81b3d2;
  border-radius: 0;
  border: none;
}
.page-finish__map {
  width: 320px;
  height: 356px;
  background-image: url('../img/bg-map-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-color: white;
}
.page-finish__marker {
  position: relative;
  margin: 161px 147px;
}
