.photo-collection {
    width: 320px;
    margin-top: 4px;
    padding: 0;
    /*border: 1px solid greenyellow;
    box-sizing: border-box;*/
}
.photo-item {
    width: 320px;
    margin: 0;
    padding: 0;
    list-style: none;
    /*border: 1px solid green;
    box-sizing: border-box;*/
}
.photo-item__divider {
    width: 320px;
    height: 1px;
    margin: 0;
    padding: 0;
    /*background-color: #e5e5e5;*/
    background-color: red;
}
.photo-item__image {
    width: 280px;
    height: 280px;
    margin: 22px 20px 0 20px;
    padding: 0;
}
.photo-item__title {
    display: block;
    margin: 10px 20px 0 20px;
    font-size: 14px;
    line-height: 24px;
    font-style: bold;
    color: black;
    text-transform: uppercase;
    /*border: 1px solid red;
    box-sizing: border-box;*/
}
.photo-item__author {
    display: block;
    margin: 0 20px 0 20px;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    color: #333333;
    text-transform: none;
    /*border: 1px solid bisque;
    box-sizing: border-box;*/
}
.photo-item__counter {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 8px 20px 15px 20px;
}
photo-item__button {
    margin: 0;
    padding: 0;
}
.photo-item__indicator {
    display: block;
    margin: 0;
    padding: 1px 14px;
    font-size: 14px;
    line-height: 24px;
    font-style: bold;
    color: black;
    text-transform: none;
    /*border: 1px solid bisque;
    box-sizing: border-box;*/
}
.page-finish {
    margin: 0;
    padding: 0;
}
.page-finish__title {
    display: block;
    width: 260px;
    margin: 34px 30px 10px 30px;
    padding: 0;
    font-size: 18px;
    line-height: 26px;
    font-style: bold;
    color: black;
    text-transform: uppercase;
    text-align: center;
}
.page-finish__note {
    display: block;
    width: 260px;
    margin: 27px 30px;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    /*border: 1px solid brown;
    box-sizing: border-box;*/
}
.video-player {
    position: relative;
    width: 320px;
    height: 267px;
    margin-top: 34px;
    padding: 0;
}
.video-player__picture {
    width: 320px;
    margin: 0;
    padding: 0;
    /*border: 1px solid brown;
    box-sizing: border-box;*/
}
.video-player__top-rectangle {
    position: absolute;
    top: 156px;
    left: 20px;
    width: 280px;
    height: 45px;
    opacity: 0.6;
    z-index: 34;
    background-color: #666666;
}
.video-player__bottom-rectangle {
    position: absolute;
    left: 20px;
    top: 201px;
    width: 280px;
    height: 66px;
    //z-index: 31;
    background-color: #f2f2f2;
}
.video-player__scale {
    position: absolute;
    left: 42px;
    top: 178px;
    width: 235px;
    height: 3px;
    opacity: 0.2;
    z-index: 35;
    //background-color: #716d6c;
    background-color: white;
}
.video-player__slider {
    position: absolute;
    left: 77px;
    top: 175px;
    width: 11px;
    height: 10px;
    z-index: 36;
    border-radius: 50%;
    background-color: #ffffff;
}
.video-player__button-replay {
    position: absolute;
    left: 45px;
    top: 224px;
}
.video-player__button-subtitles {
    position: absolute;
    left: 194px;
    top: 224px;
}
.video-player__button-fullscreen {
    position: absolute;
    left: 257px;
    top: 224px;
}
