.review {

}

.form-block {
  margin: 0;
  padding: 0;
}

.form-block__divider {
  min-width: 320px;
  height: 1px;
  margin-top: 0;
  padding: 0;
  /*background-color: #e5e5e5;*/
  background-color: red;
}

.form-block__title {
  display: block;
  margin-top: 1px;
  //margin-bottom: 12px;
  padding-top: 14px;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

.fullname {
  margin: 0;
  padding: 0;
  /*border: 1px solid blue;
  box-sizing: border-box;*/
}

.fullname__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  height: 57px;
  margin-left: 20px;
  margin-top: 23px;
  padding: 0;
  list-style: none;
  /*border: 1px solid blue;
  box-sizing: border-box;*/
}

.fullname__container-label {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 58px;
  margin-right: 16px;
  padding: 0;
  /*border: 1px solid green;
  box-sizing: border-box;*/
}

.fullname__label {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  font-style: normal;
  color: #333333;
  text-transform: uppercase;
}

.fullname__container-input {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  /*border: 1px solid green;
  box-sizing: border-box;*/
}

.fullname__field {
  width: 100%;
  height: 58px;
  margin-right: 20px;
  padding-left: 16px;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: black;
  text-transform: none;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
}

.form-block__delimiter {
  margin-top: 24px;
}

.form-block__delimiter--radio {
  margin-top: 28px;
}

.form-block__delimiter--check {
  margin-top: 35px;
}

.form-block__delimiter--textarea {
  margin-top: -16px;
  margin-bottom: 5px;
}
/****************** Контактная информация **********************/
.contacts {
  margin-top: 21px;
  margin-left: 20px;
  padding: 0;
}

.contacts__item {
  width: 280px;
  //height: 103px;
  margin-bottom: 12px;
  padding: 0;
  list-style: none;
  /*border: 1px solid green;
  box-sizing: border-box;*/
}

.contacts__label {
  display: block;
  margin: 0;
  padding-left: 22px;
  font-size: 14px;
  line-height: 26px;
  font-style: normal;
  color: #333333;
  text-transform: uppercase;
}

.contacts__field-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 58px;
  margin-top: 8px;
  /*border: 1px solid green;
  box-sizing: border-box;*/
}

.contacts__field-container {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  //padding-left: 20px;
  height: 58px;
}

.contacts__field {
  width: 100%;
  height: 58px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: black;
  text-transform: none;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
}

.contacts__image-container {
  position: relative;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
}

.contacts__image {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/************** Рэйтинг Радиокнопки ******************/

.rating {
  width: 200px;
  margin-left: 100px;
  margin-top: 38px;
  padding: 0;
}

.rating__item {
  display: block;
  position: relative;
  margin-bottom: 44px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: black;
  text-transform: none;
  list-style: none;
  cursor: pointer;
  /*border: 1px solid green;
  box-sizing: border-box;*/
}

.input-radio + label::before {
  content: "";
  position: absolute;
  left: -79px; /* Координаты радиокнопок */
  top: -13px;
  width: 56px;
  height: 56px;
  background-color: #b8b8b8;
  //background-color: red;
  /*border: 25px solid #b8b8b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;*/
  border-radius: 50%;
}

.input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -62px; /* Координаты точек в радиокнопке */
  top: 4px;
  width: 22px;
  height: 22px;
  //background-color: green;
  background-color: black;
  border-radius: 50%;
}

.input-radio:checked:focus + label::after,
.input-radio:checked:hover + label::after {
  content: "";
  position: absolute;
  left: -62px;/* Координаты точек в радиокнопке */
  top: 4px;
  width: 22px;
  height: 22px;
  background-color: #444444;
  border-radius: 50%;
}

/*************** Чек-Боксы ********************/

.places {
  width: 200px;
  margin-left: 99px;
  margin-top: 33px;
  padding: 0;
}

.places__item {
  display: block;
  position: relative;
  margin-bottom: 55px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: black;
  text-transform: none;
  list-style: none;
  cursor: pointer;
  /*border: 1px solid green;
  box-sizing: border-box;*/
}

.input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -79px; /* Координаты чекбоксов */
  top: -13px;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  //background-color: red;
  border-radius: 3px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 16px 20px;
  //opacity: 0.4;
}

.input-checkbox:checked + label::before {
  display: none;
}

.input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -79px; /* Координаты чекбоксов */
  top: -13px;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 3px;
}

/*************** Эмоциии в многострочном поле *********/

.emotions {
  width: 242px;
  height: 128px;
  margin-top: 2px;
  margin-left: 20px;
  padding: 16px;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: black;
  text-transform: none;
  background-color: #f2f2f2;
  /*border: 1px solid green;
  box-sizing: border-box;*/
}

/***************** Кнопка отправить *****************/

.review__button {
  width: 280px;
  height: 58px;
  margin-left: 20px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-style: bold;
  color: white;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: 1px solid #81b3d2;
  box-sizing: border-box;
}

.review__send {
  margin-top: 44px;
  margin-bottom: 52px;
}
/************** Окно об успехе *******************/

.form-review-ok {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 80px;
  left: 50%;
  min-width: 320px;
  min-height: 323px;
  margin: 0 auto;
  padding: 0;
  border: 1px solid green;
  box-sizing: border-box;
}

.form-review-ok__title {
  display: block;
  width: 260px;
  margin: 36px 30px 10px 30px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.form-review-ok__note {
  display: block;
  width: 280px;
  margin: 24px 20px;
  padding: 0;
  flex-grow: 1;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  /*border: 1px solid blueviolet;
  box-sizing: border-box;*/
}

.form-review-ok__button {
  width: 280px;
  height: 58px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: white;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: 1px solid #81b3d2;
  box-sizing: border-box;
}

/********** Форма об ошибке ***************/

.form-review-error {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 80px;
  left: 50%;
  min-width: 320px;
  //min-height: 280px;
  height: 280px;
  margin: 0 auto;
  padding: 0;
  border: 1px solid green;
  box-sizing: border-box;
}

.form-review-error__note {
  display: block;
  width: 220px;
  margin: 24px 50px;
  padding: 0;
  flex-grow: 1;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  /*border: 1px solid blueviolet;
  box-sizing: border-box;*/
}

.form-review-error__button {
  width: 180px;
  height: 58px;
  margin-left: 70px;
  margin-bottom: 35px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: white;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: 1px solid #81b3d2;
  box-sizing: border-box;
}
