@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans.woff2') format('woff2'),
        url('../fonts/ptsans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsansbold.woff2') format('woff2'),
        url('../fonts/ptsansbold.woff') format('woff');
  font-weight: normal;
  font-style: bold;
}

@import 'page-header.less';
@import 'main-nav.less';
@import 'site-list.less';

body { font-family: 'PT Sans', sans-serif; }
