.header-image {
  display: flex;
  flex-direction: column;
  /* Не работает в IE11
  justify-content: flex-end; */
  align-items: center;
  margin-top: -28px;
  min-width: 320px;
  min-height: 390px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: white;
  background-position: 50% 50%;
  //outline: 1px solid red;
}

.header-image__text {
  display: block;
  flex-grow: 1;
  width: 280px;
  height: 215px;
  margin-top: 90px;
  padding: 0;
  //outline: 1px solid red;
}

.header-image__triangle {
  display: block;
  width: 320px;
  margin-top: 60px;
  padding: 0;
  //outline: 1px solid green;
}

//Это скрыто
.header-image__text-sedona {
  display: block;
  //margin: 0 auto;
  margin-left: 20px;
  margin-top: 175px;
  padding: 0;
  width: 280px;
  height: 50px;
}
