.header-image {
  display: flex;
  flex-direction: column;
  /* Не работает в IE11
  justify-content: flex-end; */
  align-items: center;
  margin-top: -28px;
  min-width: 320px;
  min-height: 390px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: white;
  background-position: 50% 50%;
  //outline: 1px solid yellow;
}

@media (min-width: @tablet-width) {
  .header-image {
    display: flex;
    flex-direction: column;
    /* Не работает в IE11
    justify-content: flex-end; */
    align-items: center;
    margin-top: -28px;
    min-width: 1200px;
    min-height: 521px;
    background-image: url("../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-color: white;
    background-position: 50% 50%;
    //outline: 1px solid yellow;
  }
}

@media (min-width: @desktop-width) {
  .header-image {
    display: flex;
    flex-direction: column;
    /* Не работает в IE11
    justify-content: flex-end; */
    align-items: center;
    margin-top: -28px;
    min-width: 768px;
    min-height: 520px;
    background-image: url("../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-color: white;
    background-position: 50% 50%;
    //outline: 1px solid yellow;
  }
}

.header-image--nomain {
  display: flex;
  flex-direction: column;
  /* Не работает в IE11
  justify-content: flex-end; */
  align-items: center;
  margin-top: -28px;
  min-width: 320px;
  height: 158px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: white;
  background-position: 50% 50%;
  //outline: 1px solid yellow;
}

.header-image__text {
  display: block;
  flex-grow: 1;
  width: 280px;
  height: 215px;
  margin-top: 90px;
  padding: 0;
  //outline: 1px solid red;
}

@media (min-width: @tablet-width) {
  .header-image__text {
    display: block;
    flex-grow: 1;
    width: 458px;
    height: 350px;
    margin-top: 90px;
    padding: 0;
    //outline: 1px solid red;
  }
}

@media (min-width: @desktop-width) {
  .header-image__text {
    display: block;
    flex-grow: 1;
    width: 470px;
    height: 350px;
    margin-top: 90px;
    padding: 0;
    //outline: 1px solid red;
  }
}

.header-image__text--nomain {
  display: block;
  flex-grow: 1;
  width: 280px;
  height: 50px;
  margin-top: 53px;
  padding: 0;
}

.header-image__triangle {
  display: block;
  width: 320px;
  margin-top: 60px;
  padding: 0;
  //outline: 1px solid green;
}

.header-image__triangle--nomain {
  display: block;
  width: 320px;
  margin-top: 20px;
  padding: 0;
  //outline: 1px solid green;
}
