.input-radio + label::before {
  content: "";
  position: absolute;
  left: -79px;
  top: -13px;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.input-radio:hover + label::before,
.input-radio:focus + label::before {
  content: "";
  background-color: #e5e5e5;
}

.input-radio:active + label::before {
  content: "";
  background-color: #d5d5d5;
}

.input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -62px;
  top: 3px;
  width: 22px;
  height: 22px;
  background-color: black;
  border-radius: 50%;
}

.input-radio:checked:focus + label::after,
.input-radio:checked:hover + label::after {
  content: "";
  background-color: #444444;
}

.input-radio:checked:active + label::after {
  content: "";
  background-color: #a4a4a4;
}

@media (min-width: @tablet-width) {
  .input-radio + label::before {
    left: -75px;
  }

  .input-radio:checked + label::after {
    content: "";
    left: -58px;
  }

  .input-radio:checked:focus + label::after,
  .input-radio:checked:hover + label::after {
    content: "";
    left: -58px;
  }
}
