.page-finish {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.page-finish__title {
  display: block;
  width: 260px;
  margin: 0;
  padding: 27px 30px 0 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-finish__title {
    width: 420px;
    margin: 0;
    padding-top: 55px;
    font-size: 30px;
    line-height: 26px;
  }
}

@media (min-width: @desktop-width) {
  .page-finish__title {
    display: block;
    padding-top: 53px;
  }
}

.page-finish__note {
  display: block;
  width: 280px;
  margin: 0;
  padding: 18px 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-finish__note {
    padding-top: 32px;
    padding-bottom: 0;
    margin: 0 auto;
    width: 440px;
  }
}

.page-finish__disable,
.page-finish__disable:hover,
.page-finish__disable:active {
  color: #ffffff;
  background-color: #e5e5e5;
}

.page-finish__map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 350px;
  padding: 0;
  background-color: #f0f2e8;
}

@media (min-width: @tablet-width) {
  .page-finish__map {
    width: 768px;
    height: 350px;
  }
}

@media (min-width: @desktop-width) {
  .page-finish__map {
    width: 1200px;
  }
}

.page-finish__google-map {
  width: 320px;
  height: 350px;
}

@media (min-width: @tablet-width) {
  .page-finish__google-map {
    width: 768px;
    height: 350px;
  }
}

@media (min-width: @desktop-width) {
  .page-finish__google-map {
    width: 1200px;
    height: 350px;
  }
}
