.page-header {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
}

.page-header__menu-panel {
  min-width: 320px;
  //min-height: 56px;
  //outline: 1px solid brown;
}

.page-header__button-open {
  position: absolute;
  right: 20px;
  top: 17px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: white;
  fill: #81b3d2;
}

.page-header__logo {
  display: block;
  //outline: 1px solid red;
}

.page-header__logo-image {
  margin: 0 auto;
  display: block;
  top: -28px;
  z-index: 100;
  //outline: 1px solid green;
}
