.photo-item {
  width: 320px;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 1px solid blueviolet;
}

@media (min-width: @tablet-width) {
  .photo-item {
    width: 324px;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: 1px solid blueviolet;
  }
}

@media (min-width: @desktop-width) {
  .photo-item {
    width: 400px;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: 1px solid blueviolet;
  }
}

.photo-item--big {
  width: 320px;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 1px solid blueviolet;
}

@media (min-width: @tablet-width) {
  .photo-item--big {
    width: 648px;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: 1px solid blueviolet;
  }
}

@media (min-width: @desktop-width) {
  .photo-item--big {
    width: 1200px;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: 1px solid blueviolet;
  }
}

.photo-item__divider {
  min-width: 320px;
  height: 1px;
  margin: 0;
  padding: 0;
  /*background-color: #e5e5e5;*/
  background-color: red;
}

@media (min-width: @tablet-width) {
  .photo-item__divider {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .photo-item__divider {
    display: none;
  }
}

.photo-item__image {
  width: 280px;
  height: 280px;
  margin: 22px 20px 0 20px;
  padding: 0;
}

.photo-item__title {
  display: block;
  margin: 10px 20px 0 20px;
  font-size: 14px;
  line-height: 24px;
  font-style: bold;
  color: black;
  text-transform: uppercase;
}

.photo-item__author {
  display: block;
  margin: 0 20px 0 20px;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #333333;
  text-transform: none;
}

.photo-item__counter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 8px 20px 15px 20px;
}

.photo-item__button {
  margin: 0;
  padding: 0;
}

.photo-item__indicator {
  display: block;
  margin: 0;
  padding: 1px 14px;
  font-size: 14px;
  line-height: 24px;
  font-style: bold;
  color: black;
  text-transform: none;
}
