.form-review-error {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 20px;
  left: calc(~"50% - " 160px);
  width: 320px;
  min-height: 280px;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  z-index: 120;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

@media (min-width: @tablet-width) {
  .form-review-error {
    justify-content: flex-start;
    top: 80px;
    left: calc(~"50% - " 200px);
    width: 400px;
    min-height: 347px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  }
}

.form-review-error__title {
  display: block;
  width: 260px;
  margin: 36px 30px 10px 30px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .form-review-error__title {
    display: block;
    width: 215px;
    margin-left: 0 auto;
    margin-top: 55px;
    margin-bottom: 24px;
    padding: 0;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
  }
}

.form-review-error__note {
  display: block;
  width: 220px;
  margin: 24px 50px;
  padding: 0;
  flex-grow: 1;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .form-review-error__note {
    display: block;
    width: 285px;
    margin: 0 0 33px 0;
    padding: 0;
    flex-grow: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
  }
}
