.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}

.advantages-list {
  margin: 0;
  padding: 0;
}

.advantages-list__item {
  display: block;
  width: 320px;
  min-height: 110px;
  margin: 0;
  padding: 0;
  border-top: 1px solid white;
  //outline: 1px solid red;
}

.advantages-list__text--color {
  display: block;
  width: 320px;
  height: 110px;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #81b3d2;
}

.advantages-list__text {
  display: block;
  width: 320px;
  height: 110px;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.advantages-list__triangle {
  display: block;
  margin: 0;
  padding: 0;
}

.advantages-list__header {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Стиль как у номера */
.advantages-list__note {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  text-align: center;
}

.advantages-list__note--grey {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  text-align: center;
  color: #333333;
}

.advantages-list__image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 260px;
}
