@media (min-width: @tablet-width) {
  .emotions {
    order: 5;
    position: relative;
    width: 648px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .emotions {
    order: 5;
    width: 960px;
    margin: 0;
    padding: 0;
  }
}

.emotions__text {
  width: 260px;
  height: 144px;
  margin: 18px 0 0 20px;
  padding: 16px 0 0 20px;
  font-family: "PT Sans", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  text-transform: none;
  background-color: #f2f2f2;
  resize: vertical;
  border: none;
}

.emotions__text::placeholder {
  margin-left: 3px;
  font-family: "PT Sans", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  text-transform: none;
}

@media (min-width: @tablet-width) {
  .emotions__text {
    width: 606px;
    height: 126px;
    margin-top: 102px;
    margin-bottom: 53px;
    margin-left: 0;
    padding: 17px 20px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
  }
}

@media (min-width: @desktop-width) {
  .emotions__text {
    width: 920px;
  }
}

.emotions__divider {
  min-width: 320px;
  height: 1px;
  margin-top: -13px;
  margin-bottom: 3px;
  padding: 0;
  background-color: #e5e5e5;
}

@media (min-width: @tablet-width) {
  .emotions__divider {
    position: absolute;
    top: 33px;
    width: 648px;
    margin: 0;
    z-index: 0;
  }
}

@media (min-width: @desktop-width) {
  .emotions__divider {
    top: 33px;
    width: 960px;
  }
}

.emotions__title {
  display: block;
  margin-top: 1px;
  padding-top: 14px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .emotions__title {
    position: absolute;
    width: 398px;
    left: 125px;
    margin: 0 auto;
    padding-top: 21px;
    font-size: 21px;
    background-color: white;
    z-index: 1;
  }
}

@media (min-width: @desktop-width) {
  .emotions__title {
    position: absolute;
    width: 398px;
    left: 281px;
    margin: 0 auto;
    padding-top: 21px;
    font-size: 21px;
    background-color: white;
    z-index: 1;
  }
}
