.emotions {
  width: 242px;
  height: 128px;
  margin-top: 2px;
  margin-left: 20px;
  padding: 16px;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: black;
  text-transform: none;
  background-color: #f2f2f2;
  /*border: 1px solid green;
  box-sizing: border-box;*/
}
