.places {
  width: 320px;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .places {
    order: 4;
    position: relative;
    width: 648px;
    margin: 0;
    padding: 0;
    //outline: 1px solid magenta;
  }
}

@media (min-width: @desktop-width) {
  .places {
    order: 4;
    width: 960px;
    margin: 0;
    padding: 0;
    //outline: 1px solid magenta;
  }
}

.places__list {
  width: 200px;
  margin-left: 99px;
  margin-top: 31px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .places__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 472px;
    margin: 138px 0 0 176px;
    padding: 0;
    //outline: 1px solid brown;
  }
}

@media (min-width: @desktop-width) {
  .places__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 880px;
    margin: 108px 0 61px 80px;
    padding: 0;
    //outline: 1px solid brown;
  }
}

.places__item {
  display: block;
  position: relative;
  margin-bottom: 54px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: black;
  text-transform: none;
  list-style: none;
  cursor: pointer;
  //outline: 1px solid magenta;
}

@media (min-width: @tablet-width) {
  .places__item:nth-child(2n-1) {
    width: 150px;
    margin-bottom: 63px;
    margin-right: 108px;
    //outline: 1px solid magenta;
  }
}

@media (min-width: @desktop-width) {
  .places__item:nth-child(2n-1) {
    width: auto;
    margin: 0;
    padding: 0;
    //outline: 1px solid magenta;
  }

  .places__item:nth-child(2n) {
    width: auto;
    margin: 0;
    padding: 0;
    //outline: 1px solid magenta;
  }
}

.places__input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -79px; //Координаты чекбоксов
  top: -13px;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 3px;
}

.places__input-checkbox:hover + label::before,
.places__input-checkbox:focus + label::before {
  background-color: #e5e5e5;
}

.places__input-checkbox:active + label::before {
  background-color: #d5d5d5;
}

.places__input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -79px;
  top: -13px;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  //background-color: red;
  border-radius: 3px;
  //background-image: url("../img/icon-tick.svg");
  background-image: url("data:image/svg+xml,%3Csvg version='1' xmlns='http://www.w3.org/2000/svg' width='23.049' height='16.249' viewBox='0 0 23.049 16.249'%3E%3Cpath d='M22.801 1.299L21.75.248a.853.853 0 0 0-1.203 0L8.693 12.102 2.502 5.911a.853.853 0 0 0-1.203 0L.248 6.962a.852.852 0 0 0 0 1.202l7.837 7.837a.845.845 0 0 0 .608.246c.22.002.44-.079.608-.246l13.5-13.5a.852.852 0 0 0 0-1.202z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 16px 20px;
}

.places__divider {
  min-width: 320px;
  height: 1px;
  margin-top: 35px;
  padding: 0;
  background-color: #e5e5e5;
}

@media (min-width: @tablet-width) {
  .places__divider {
    position: absolute;
    top: 56px;
    width: 648px;
    height: 1px;
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
    //background-color: red;
    z-index: 0;
  }
}

@media (min-width: @desktop-width) {
  .places__divider {
    top: 25px;
    width: 960px;
    //background-color: red;
  }
}

.places__title {
  display: block;
  margin-top: 1px;
  //margin-bottom: 12px;
  padding-top: 16px;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .places__title {
    position: absolute;
    width: 398px;
    left: 125px;
    margin: 0 auto;
    padding-top: 31px;
    font-size: 21px;
    background-color: white;
    z-index: 1;
    //outline: 1px solid magenta;
  }
}

@media (min-width: @desktop-width) {
  .places__title {
    width: 398px;
    left: 279px;
    margin: 0 auto;
    padding: 0;
    font-size: 21px;
    background-color: white;
    z-index: 1;
    //outline: 1px solid magenta;
  }
}
