.rating {
  min-width: 200px;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .rating {
    order: 1;
    width: 324px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .rating {
    order: 1;
    width: 480px;
    margin: 0;
    padding: 0;
  }
}

.rating__list {
  width: 200px;
  margin-left: 100px;
  margin-top: 38px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .rating__list {
    width: 200px;
    margin-left: 75px;
    margin-top: 73px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .rating__list {
    width: 200px;
    margin-left: 79px;
    margin-top: 73px;
    padding: 0;
  }
}

.rating__item {
  display: block;
  position: relative;
  margin-bottom: 43px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  text-transform: none;
  list-style: none;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .rating__item {
    margin-bottom: 52px;
  }
}

.rating__divider {
  min-width: 320px;
  height: 1px;
  margin-top: 28px;
  padding: 0;
  background-color: #e5e5e5;
}

@media (min-width: @tablet-width) {
  .rating__divider {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .rating__divider {
    display: none;
  }
}

.rating__title {
  display: block;
  margin-top: 1px;
  padding-top: 17px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .rating__title {
    margin-top: 1px;
    padding-top: 17px;
    font-size: 21px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .rating__title {
    margin-top: 1px;
    margin-left: 79px;
    padding-top: 17px;
    font-size: 21px;
    text-align: left;
  }
}
