.rating {
  width: 200px;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .rating {
    order: 1;
    width: 324px;
    margin: 0;
    padding: 0;
    //outline: 1px solid magenta;
  }
}

.rating__list {
  width: 200px;
  margin-left: 100px;
  margin-top: 38px;
  padding: 0;
}

@media (min-width: @desktop-width) {
  .rating {
    order: 1;
    width: 480px;
    margin: 0;
    padding: 0;
    //outline: 1px solid magenta;
  }
}

.rating__item {
  display: block;
  position: relative;
  margin-bottom: 44px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: black;
  text-transform: none;
  list-style: none;
  cursor: pointer;
  /*border: 1px solid green;
  box-sizing: border-box;*/
}

.rating__divider {
  min-width: 320px;
  height: 1px;
  margin-top: 28px;
  padding: 0;
  /*background-color: #e5e5e5;*/
  background-color: red;
}

@media (min-width: @tablet-width) {
  .rating__divider {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .rating__divider {
    display: none;
  }
}

.rating__title {
  display: block;
  margin-top: 1px;
  //margin-bottom: 12px;
  padding-top: 14px;
  font-size: 18px;
  line-height: 26px;
  font-style: bold;
  color: black;
  text-transform: uppercase;
  text-align: center;
}
