.contacts {
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .contacts {
    position: relative;
    order: 3;
    width: 648px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    order: 3;
    width: 960px;
    margin: 0;
    padding: 0;
  }
}

.contacts__list {
  margin-top: 21px;
  margin-left: 20px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .contacts__list {
    display: flex;
    flex-direction: column;
    margin: 85px 0 0 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .contacts__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 127px 0 53px 0;
    padding: 0;
  }
}

.contacts__item {
  width: 280px;
  margin-bottom: 12px;
  padding: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .contacts__item {
    width: 648px;
    margin-bottom: 22px;
    list-style: none;
  }
}

@media (min-width: @desktop-width) {
  .contacts__item {
    width: auto;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
}

.contacts__label {
  display: block;
  margin: 0;
  padding-left: 22px;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
}

@media (min-width: @desktop-width) {
  .contacts__label {
    display: block;
    margin: 0;
    padding-left: 0;
    padding-right: 15px;
    padding-top: 22px;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
  }
}

.contacts__field-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 58px;
  margin-top: 7px;
}

@media (min-width: @desktop-width) {
  .contacts__field-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 319px;
    height: 58px;
    margin-top: 5px;
  }
}

.contacts__field-container {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  height: 58px;
}

@media (min-width: @desktop-width) {
  .contacts__field-container {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    height: 58px;
  }
}

.contacts__field {
  width: 100%;
  height: 48px;
  padding-left: 18px;
  font-family: "PT Sans", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  text-transform: none;
  outline: none;
  background-color: #f2f2f2;
  border: 4px solid #f2f2f2;
}

.contacts__field::placeholder {
  font-family: "PT Sans", "Calibri", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-transform: none;
}

.contacts__field:hover {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.contacts__field:focus,
.contacts__field:active {
  color: #000000;
  background-color: #ffffff;
  border: 4px solid #e5e5e5;
}

.contacts__image-container {
  position: relative;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
}

.contacts__image {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.contacts::before {
  content: "";
  display: block;
  width: 320px;
  height: 1px;
  margin-top: 26px;
  padding: 0;
  background-color: #e5e5e5;
}

@media (min-width: @tablet-width) {
  .contacts::before {
    position: absolute;
    top: 45px;
    width: 648px;
    height: 1px;
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
    z-index: 0;
  }
}

@media (min-width: @desktop-width) {
  .contacts::before {
    width: 960px;
    background-color: #e5e5e5;
  }
}

.contacts__title {
  display: block;
  margin-top: 1px;
  padding-top: 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .contacts__title {
    position: absolute;
    width: 398px;
    left: 125px;
    margin: 0 auto;
    padding-top: 34px;
    font-size: 21px;
    background-color: white;
    z-index: 1;
  }
}

@media (min-width: @desktop-width) {
  .contacts__title {
    position: absolute;
    width: 400px;
    left: 280px;
    margin: 0 auto;
    padding-top: 33px;
    font-size: 21px;
    background-color: white;
    z-index: 1;
  }
}

@media (min-width: @desktop-width) {
  .contacts__label-hide {
    display: none;
  }
}
